<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program</key>
	<string>(REPLACE ME AT RUNTIME)</string>
	<key>Label</key>
	<string>(REPLACE ME AT RUNTIME)</string>
	<key>KeepAlive</key>
	<false/>
	<key>MachServices</key>
	<dict>
		<key>com.github.Squirrel.ShipIt</key>
		<true/>
	</dict>
</dict>
</plist>
